body, html {
    margin:0;
    padding: 0;
    background-color: rgb(16, 46, 46);
}


.carousel {

position: relative;
margin: 100px auto;
max-width: 600px;
height:auto;
}



.carousel .carousel-item,
.carousel .carousel-item-hidden {
display: none;
}

.carousel  .carousel-item-visible {
 display: block;
 animation: fadeVisibility 5s;
}



.carousel .carousel-actions button {
border-radius: 50%;
border-style: none;
width: 2.5em;
height: 2.5em;
font-weight: bolder;
font-size: 1em;

}

/* .carousel .carousel-actions  */
button:hover { background-color:chartreuse;
  color: white;
    transform: scale(1.3);
   
}

.carousel .carousel-actions {
    position: absolute;
    display: flex;
    justify-content: space-between;
top: 50%;
width: 100%;
animation: fadeVisibility 5s;
}

.carousel .carousel-actions #carousel-button-prev {
   margin-left: 40px;
   animation: fadeVisibility 5s;
}

.carousel .carousel-actions #carousel-button-next {
    margin-right: 40px;
 }

 @keyframes fadeVisibility  {
     0% {opacity:0; }
     100% {opacity: 100;}
 }